<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/defaultLayout">
<head lang="sk">
    <title>403</title>
</head>
<body>

<div class="content-section" layout:fragment="content">
    <div class="container text-center box-auth">
        <div class="box-auth">
            <h1>Chyba 403</h1>
            <h2>Prístup zamietnutý!</h2>
            <img src="../../static/images/403.png"
                 th:src="@{/images/403.png}"/>
        </div>
    </div>
</div>

</body>
</html>