
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/defaultLayout">
<head lang="sk">
    <title>Reset</title>
</head>
<body>

<div class="content-section form-container" layout:fragment="content">
    <form class="form form-this" action="resetPassword.html" th:action="@{/resetPassword}" method="post">
        <input type="hidden" name="email" th:value="${email}"/>
        <input type="hidden" name="token" th:value="${token}"/>
        <input type="password" class="form-control" name="password" placeholder="Nové heslo"/>
        <input type="password" class="form-control" name="confPassword" placeholder="Potvrdenie hesla"/>
        <button type="submit" class="btn btn-primary btn-block">Ok</button>
    </form>        
</div>

</body>
</html>