<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/defaultLayout">
<head lang="sk">
    <title>Filmy</title>
</head>
<body>

<div class="content-section" layout:fragment="content">
    <div class="container">
        <div th:if="${not #lists.isEmpty(cart)}">
            <h2>Vaša objednávka</h2>

            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Názov</th>
                        <th>Originálny názov</th>
                        <th>Rok</th>
                        <th>Cena</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="disc : ${cart}">
                        <td th:text="${disc.title}">Názov</td>
                        <td th:text="${disc.originalTitle}">Originálny názov</td>
                        <td th:text="${disc.year}">Rok</td>
                        <td th:text="${disc.price}">Cena</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Dátum od</th>
                        <th>Dátum do</th>
                        <th>Počet dní</th>
                        <th>Počet vypožičaných titulov</th>
                        <th>Celková cena</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${stats.fromDate}"></td>
                        <td th:text="${stats.toDate}"></td>
                        <td>
                            <a href="#"  th:href="${'/order/dayRemove'}" class="glyphicon glyphicon-minus"></a>
                            <span th:text="${stats.total_days}"></span>
                            <a href="#"  th:href="${'/order/dayAdd'}" class="glyphicon glyphicon-plus"></a>
                        </td>
                        <td th:text="${stats.total_discs}"></td>
                        <td th:text="${stats.price}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <div class="row">
                <a th:href="${'/order/approve/'}">
                    <button class="btn btn-success btn-block">Potvrdiť</button>
                </a>
            </div>

        </div>
        <div th:if="${#lists.isEmpty(cart)}">
            <h2>V košíku nemáte žiadne položky</h2>
        </div>
    </div>
</div>

</body>
</html>










