
// Font color
$font-color-primary: #404040;
$font-color-secondary: #ffbb57;
$font-color-tertiary: #334455;
$font-color-tertiary-lighter: #4d6072;
$font-color-white: #ffffff;

// Nav color
$nav-color-top: #ffbb57;
$nav-color-bottom: #334455;

// BG color
$bg-color-primary: #fbf3e9;
$bg-color-white: #ffffff;
$bg-color-primary-transparent: rgba(32, 47, 64, 0.71);

// border color
$border-color-dark: #202f40;
