
// general
$full-size: 100%;
$font-weight-normal: 300;
$font-weight-high: 700;
$font-size-normal: 16px;
$font-size-small: 13px;
$font-size-smallest: 10px;
$line-height-normal: 1.6em;


// footer
$font-weight-footer: 500;
$height-footer: 7px;
$padding-footer: 25px;
$margin-footer: 0;

