<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/adminLayout">
<head lang="sk">
    <title>Vytvorenie disku</title>
</head>
<body>


<div layout:fragment="content">

    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Vytvoriť disk</h3>
        </div>
        <div class="box-body">
            <form class="form-horizontal col-sm-offset-3 col-sm-6" th:object="${disc}" th:action="@{/admin/movie/new}" method="post">
                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Zlé dáta</p>

                <input type="hidden" th:field="*{id}"/>

                <div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error'">
                    <label class="control-label">Názov<span class="povinna_polozka">*</span></label>
                    <input type="text" class="form-control" th:field="*{title}"/>
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:class="text-red">Zlé dáta</p>
                </div>

                <div class="form-group">
                    <label class="control-label">Podnázov</label>
                    <input type="text" class="form-control" th:field="*{subTitle}"/>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('originalTitle')}? 'has-error'">
                    <label class="control-label">Originálny názov<span class="povinna_polozka">*</span></label>
                    <input type="text" class="form-control" th:field="*{originalTitle}"/>
                    <p th:if="${#fields.hasErrors('originalTitle')}" th:errors="*{originalTitle}" th:class="text-red">Zlé dáta</p>
                </div>

                <div class="form-group">
                    <label class="control-label">Originálny subnázov</label>
                    <input type="text" class="form-control" th:field="*{originalSubTitle}"/>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                    <label class="control-label">Popis<span class="povinna_polozka">*</span></label>
                    <textarea class="form-control" th:field="*{description}"></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="text-red">Zlé dáta</p>
                </div>

                <div class="form-group">
                    <label class="control-label">Kategória<span class="povinna_polozka">*</span></label>
                    <select th:field="*{category}" class="form-control">
                        <option th:each="category : ${allCategories}"
                                th:value="${category.id}"
                                th:text="${category.name}">
                            Typ
                        </option>
                    </select>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('imageUrl')}? 'has-error'">
                    <label class="control-label">URL obalu<span class="povinna_polozka">*</span></label>
                    <input type="text" class="form-control" th:field="*{imageUrl}"/>
                    <p th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" th:class="text-red">Zlé dáta</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('imageBGUrl')}? 'has-error'">
                    <label class="control-label">URL pozadia<span class="povinna_polozka">*</span></label>
                    <input type="text" class="form-control" th:field="*{imageBGUrl}"/>
                    <p th:if="${#fields.hasErrors('imageBGUrl')}" th:errors="*{imageBGUrl}" th:class="text-red">Zlé dáta</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('videoUrl')}? 'has-error'">
                    <label class="control-label">URL videa</label>
                    <input type="text" class="form-control" th:field="*{videoUrl}"/>
                    <p th:if="${#fields.hasErrors('videoUrl')}" th:errors="*{videoUrl}" th:class="text-red">Zlé dáta</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('year')}? 'has-error'">
                    <label class="control-label">Rok<span class="povinna_polozka">*</span></label>
                    <input type="number" class="form-control" th:field="*{year}"/>
                    <p th:if="${#fields.hasErrors('year')}" th:errors="*{year}" th:class="text-red">Zlé dáta</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
                    <label class="control-label">Cena<span class="povinna_polozka">*</span></label>
                    <input type="number" step="any" class="form-control" th:field="*{price}"/>
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:class="text-red">Zlé dáta</p>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('itemCount')}? 'has-error'">
                    <label class="control-label">Počet diskov<span class="povinna_polozka">*</span></label>
                    <input type="number" step="1" class="form-control" th:field="*{itemCount}"/>
                    <p th:if="${#fields.hasErrors('itemCount')}" th:errors="*{itemCount}" th:class="text-red">Zlé dáta</p>
                </div>

                <div class="form-group">
                    <label class="control-label">Žáner</label>
                    <p th:each="genre,rowStat : ${allGenres}">
                        <input type="checkbox" th:field="*{genres}" th:value="${genre.id}" />
                        <label th:text="${genre.name}">Žáner</label>
                    </p>
                </div>

                <div class="box-footer text-center">
                    <button type="submit" class="btn btn-primary">Vytvoriť</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>







