@import "../modules/sizes";
@import "../modules/colors";


.form-container {
  display: table;
  width: $full-size;

  .form-this {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: $padding-form;
  }
}


.form-control {
  border-radius: 0;
}


.search-form {
  border: 1px solid $border-color-dark;
  border-radius: 0;
  background-color: $bg-color-white;

  button{
    background: none;
    box-shadow: none;
    border: 0;
    color: $font-color-tertiary;
    border-left: 1px solid $border-color-dark;

    &:hover {
      box-shadow: none;
    }

    &:focus {
      outline: 0;
    }
  }

  input{
    border: 0;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

}

.createAccount {
  a {
    font-size: 14px;
  }
}

.forgotPassword {
  padding-bottom: 15px;
  a {
    font-size: 14px;
  }
}

.center-dropdown {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.combo-form {
  border: 1px solid $border-color-dark;
  border-radius: 0;
  background-color: $bg-color-white;

  select {
    border: 0;
    background-color: $bg-color-white;

    &:focus {
      box-shadow: none;
    }
  }

}
