@import "../modules/sizes";
@import "../modules/colors";


form {
  .row {
    margin: 0;
  }
}

.form-container {
  display: table;
  width: $full-size;

  .form-this {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: $padding-form;
  }
}


.form-control {
  border-radius: 0;
}


.search-form {
  border: 1px solid $border-color-grey;
  border-radius: 0;
  background-color: $bg-color-white;

  button{
    background: none;
    box-shadow: none;
    border: 0;
    color: $font-color-primary-light;

    &:hover {
      box-shadow: none;
    }

    &:focus {
      outline: 0;
    }
  }

  input{
    border: 0;
    box-shadow: none;

    &:focus {
      box-shadow: none;
    }
  }

}

.createAccount {
  a {
    font-size: 14px;
  }
}

.forgotPassword {
  padding-bottom: 15px;
  a {
    font-size: 14px;
  }
}

.combo-form {
  border: 1px solid $border-color-grey;
  border-radius: 0;
  background-color: $bg-color-white;

  select {
    border: 0;
    background-color: $bg-color-white;

    &:focus {
      box-shadow: none;
    }
  }

}

.form-content {
  background: #ffbb57;
  padding: 20px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}
