
@import "../modules/colors";
@import "../modules/sizes";
@import "../modules/fonts";


body {
  font-family: $font-family-body;
  width: $full-size;
  height: $full-size;
  font-weight: $font-weight-normal;
  color: $font-color-primary;
  background-color: $bg-color-primary;
  font-size: $font-size-normal;
  line-height: $line-height-normal;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-h;
  font-variant: small-caps;
}

h5 {
  font-size: 14px;
}

html {
  width: $full-size;
  height: $full-size;
}

hr {
  max-width: 75px;
  border: $border-hr;
}

.content-section {
  overflow: hidden;
  min-height: -webkit-calc(100% - 183px);
  min-height:    -moz-calc(100% - 183px);
  min-height:         calc(100% - 183px);
}

.text-red {
  color: $font-color-form-error !important;
  font-size: 13px;
  font-weight: 400;
}

.contact-height {
  height: 489px;
}
