@import "../modules/colors";
@import "../modules/sizes";

.header {
  display: table;
  position: relative;
  width: 100%;
  min-height: -webkit-calc(100% - 183px);
  min-height:    -moz-calc(100% - 183px);
  min-height:         calc(100% - 183px);

  background: url(../images/main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .header-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .header-content-inner {
    background-color: $bg-color-primary-transparent;
    padding: $padding-header;
    color: $font-color-white;
    max-width: $max-width-header;
    margin-left: $margin-header-left;
    margin-right: $margin-header-right;
    h1 {
      margin: $zero-margin;
      padding: $zero-padding;
      font-size: $font-size-header;
      font-weight: $font-weight-header;
    }
  }

}




