@import "../modules/colors";

.table {
  tbody, tfoot {
    tr {
      td, th {
        vertical-align: middle;
      }
      th:last-child,
      td:last-child,
      th:nth-last-child(2),
      td:nth-last-child(2) {
        text-align: center;
      }
    }
  }

  thead {
    tr {
      td {
        vertical-align: middle;
      }
      th {
        vertical-align: middle;
      }
      th:last-child,
      td:last-child,
      th:nth-last-child(2),
      td:nth-last-child(2) {
        text-align: center;
      }
    }
  }
}


