<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="sk">

</head>
<body>

<nav class="navbar navbar-fixed-top" role="navigation" th:fragment="navigation">
    <div class="top-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8">
                </div>
                <div class="col-sm-2 col-md-2">
                    <a href="#" sec:authorize="isAnonymous()">Vytvoriť účet</a>
                </div>
                <div class="col-sm-2 col-md-2">
                    <a href="#" th:href="@{/login}" sec:authorize="isAnonymous()">Prihlásiť sa</a>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span sec:authentication="name"> </span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{/logout}" sec:authorize="isAuthenticated()">Odhlásiť sa</a></li>
                        </ul>
                    </li>

                </div>
            </div>
        </div>
    </div>
    <div class="container navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">
                <img src="../../../static/images/logo.png" height="40" th:src="@{/images/logo.png}"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" th:href="@{/}">Domov</a></li>


                <li sec:authorize="isAnonymous() or hasAuthority('USER')"><a href="#" th:href="@{/discs}">Filmy</a></li>


                <li class="dropdown" sec:authorize="hasAnyAuthority('ADMIN','SUPER_ADMIN')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filmy <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/discs}">Zoznam</a></li>
                        <li><a href="#" th:href="@{/disc/new}">Pridaj</a></li>
                    </ul>
                </li>
                <li class="dropdown" sec:authorize="hasAuthority('SUPER_ADMIN')">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Užívatelia <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="">Zoznam</a></li>
                        <li><a href="">Pridaj</a></li>
                    </ul>
                </li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


</body>
</html>