@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext");
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  font-weight: 300;
  color: #404040;
  background-color: #ecf0f5;
  font-size: 16px;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  font-variant: small-caps;
}

h5 {
  font-size: 14px;
}

html {
  width: 100%;
  height: 100%;
}

hr {
  max-width: 75px;
  border: 2px solid #334455;
}

.content-section {
  overflow: hidden;
  min-height: -webkit-calc(100% - 183px);
  min-height: -moz-calc(100% - 183px);
  min-height: calc(100% - 183px);
}

.text-red {
  color: #a94442 !important;
  font-size: 13px;
  font-weight: 400;
}

.contact-height {
  height: 489px;
}

form .row {
  margin: 0;
}

.form-container {
  display: table;
  width: 100%;
}

.form-control {
  border-radius: 0;
}

.search-form {
  border: 1px solid #202f40;
  border-radius: 0;
  background-color: white;
}
.search-form button {
  background: none;
  box-shadow: none;
  border: 0;
  color: #555555;
}
.search-form button:hover {
  box-shadow: none;
}
.search-form button:focus {
  outline: 0;
}
.search-form input {
  border: 0;
  box-shadow: none;
}
.search-form input:focus {
  box-shadow: none;
}

.createAccount a {
  font-size: 14px;
}

.forgotPassword {
  padding-bottom: 15px;
}
.forgotPassword a {
  font-size: 14px;
}

.combo-form {
  border: 1px solid #202f40;
  border-radius: 0;
  background-color: white;
}
.combo-form select {
  border: 0;
  background-color: white;
}
.combo-form select:focus {
  box-shadow: none;
}

.form-content {
  background: #ffbb57;
  padding: 20px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.form-control {
  height: 33px;
}

.alert {
  border-radius: 0 !important;
}

.box-auth {
  margin-top: 60px !important;
}

textarea {
  resize: vertical;
}

.table tbody tr td, .table tbody tr th, .table tfoot tr td, .table tfoot tr th {
  vertical-align: middle;
}
.table tbody tr th:last-child,
.table tbody tr td:last-child,
.table tbody tr th:nth-last-child(2),
.table tbody tr td:nth-last-child(2), .table tfoot tr th:last-child,
.table tfoot tr td:last-child,
.table tfoot tr th:nth-last-child(2),
.table tfoot tr td:nth-last-child(2) {
  text-align: center;
}
.table thead tr td {
  vertical-align: middle;
}
.table thead tr th {
  vertical-align: middle;
}
.table thead tr th:last-child,
.table thead tr td:last-child,
.table thead tr th:nth-last-child(2),
.table thead tr td:nth-last-child(2) {
  text-align: center;
}

.card {
  margin-top: 20px;
}

.title-header {
  padding: 2px 4px;
  background-color: transparent;
}

.title-header h3 {
  margin: 0;
  font-size: 21px;
  padding-bottom: 5px;
}

.img-card {
  position: relative;
  width: 80%;
  max-width: 600px;
  max-height: 900px;
  background-color: #404040;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.45);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.45);
  opacity: 0.95;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.img-card:hover {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.9);
  opacity: 1;
}
.img-card .btn-group {
  display: flex;
}
.img-card .btn-group .btn-block {
  margin: 0;
}
.img-card p {
  position: absolute;
  padding: 2px 6px;
  background-color: rgba(5, 5, 17, 0.9);
  font-weight: bold;
  width: 70px;
}
.img-card img {
  width: 100%;
}

.discs-remaining {
  right: 0;
  width: 30px;
}

.glyphicon {
  top: 2px !important;
}

.available-tag {
  color: #9ddc16;
}

.not-available-tag {
  color: #e92a3e;
}

.blu-ray-tag {
  color: #0096d5;
}

.dvd-tag {
  color: #dcdc53;
}

.year-tag {
  color: #e91e63;
}

.price-tag {
  color: #ffc107;
}

.cover-bg {
  width: 100%;
}

.movie-card {
  color: #A9A8A3;
  padding: 20px 0;
}

.movie-header {
  margin: 0;
  overflow: hidden;
  z-index: 1;
}

.cover {
  z-index: 2;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.movie-header-details {
  background-color: #2a2929;
}
.movie-header-details .movie-header-title {
  padding: 5px 10px;
}
.movie-header-details .movie-header-title .movie-title {
  color: white;
  z-index: 3;
}
.movie-header-details .movie-header-title .movie-title h1 {
  margin: 0;
  padding: 0;
}
.movie-header-details .movie-header-title .movie-subtitle {
  color: #C7C1BA;
  z-index: 3;
  font-weight: 300;
}
.movie-header-details .movie-header-title .movie-subtitle h3 {
  margin: 0;
  padding: 0;
}
.movie-header-details .movie-header-description {
  margin-top: 18px;
}
.movie-header-details .movie-header-description span {
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
}

.movie-body {
  margin-top: 20px;
}
.movie-body .id-text {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 0 0;
  color: #2a2929;
}

.description {
  color: #2a2929;
}
.description p {
  margin: 0 0 35px;
  text-align: justify;
}

.tag {
  display: inline-block;
  background: #2a2929;
  padding: 5px 8px;
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-top: 10px;
}

.movie-frame {
  border: 2px solid #2a2929;
  width: 75%;
  height: 315px;
}

.alert {
  margin-top: 15px;
  margin-bottom: 0;
}

#googleMap {
  height: 408px;
  width: 100%;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/gears.svg) center no-repeat whitesmoke;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  color: #fff;
  background-color: #334455;
  border-color: #334455;
}

.box {
  position: relative;
  border-radius: 0;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-default {
  border-top-color: #d2d6de;
}

.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}

.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}

.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}

.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}

.box .border-right {
  border-right: 1px solid #f4f4f4;
}

.box .border-left {
  border-left: 1px solid #f4f4f4;
}

.box.box-solid {
  border-top: 0;
}

.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}

.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}

.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
}

.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}

.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}

.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
}

.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}

.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}

.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
}

.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}

.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}

.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
}

.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}

.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}

.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
}

.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}

.box.box-solid.box-success {
  border: 1px solid #00a65a;
}

.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
}

.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}

.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}

.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}

.box .box-group > .box {
  margin-bottom: 5px;
}

.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}

.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0;
}

.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}

.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}

.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
  border-bottom: none;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}

.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}

.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}

.box-header > .box-tools .dropdown-menu > li > a {
  color: #444444 !important;
}

.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}

.btn-box-tool.btn:active {
  box-shadow: none;
}

.box-body {
  border-radius: 0;
  padding: 10px;
}

.box-body > .table {
  margin-bottom: 0;
}

.box-body .fc {
  margin-top: 5px;
}

.box-body .full-width-chart {
  margin: -19px;
}

.box-body.no-padding .full-width-chart {
  margin: -9px;
}

.box-body .box-pane {
  border-radius: 0;
}

.box-body .box-pane-right {
  border-radius: 0;
}

.box-footer {
  border-radius: 0;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}

.header {
  display: table;
  position: relative;
  width: 100%;
  height: -webkit-calc(100% - 183px);
  height: -moz-calc(100% - 183px);
  height: calc(100% - 183px);
  min-height: -webkit-calc(100% - 183px);
  min-height: -moz-calc(100% - 183px);
  min-height: calc(100% - 183px);
  background: url(../images/main.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.header .header-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.header .header-content-inner {
  background-color: rgba(32, 47, 64, 0.71);
  padding: 20px;
  color: white;
  max-width: 750px;
  margin-left: auto;
  margin-right: 2.5%;
}
.header .header-content-inner h1 {
  text-shadow: 2px 2px rgba(32, 47, 64, 0.71);
  margin: 0;
  padding: 0;
  font-size: 80px;
  font-weight: 700;
  color: #ffe3ba;
}

.btn {
  border-radius: 0 !important;
}

.btn-margin {
  margin-bottom: 12px;
}

.btn-sort {
  padding: 7px 12px;
  background-color: #334455;
}
.btn-sort:focus, .btn-sort:active {
  color: #d5c789;
  background: #334455;
}
.btn-sort:hover {
  background: #ffe3ba;
  color: #4d6072;
}

.navbar {
  height: 100px;
  background-color: #334455;
  position: relative;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
.navbar .nav li a {
  font-size: 13px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  background: #334455;
}
.navbar .nav li a:focus, .navbar .nav li a:active {
  color: #d5c789;
  background: #334455;
}
.navbar .nav li a:hover {
  background: #ffe3ba;
  color: #4d6072;
}
.navbar .nav .dropdown-menu {
  border-radius: 0;
  margin-top: 10px;
  padding: 0;
}
.navbar .nav .dropdown-menu li {
  border-bottom: 1px solid #202f40;
  border-left: 1px solid #202f40;
  border-right: 1px solid #202f40;
}
.navbar .nav .dropdown-menu li a {
  color: #334455 !important;
  background: white;
  padding: 10px 20px;
  font-size: 13px;
  text-transform: uppercase;
  outline: 0;
  text-align: center;
}
.navbar .nav .dropdown-menu li a:hover {
  background: #ffe3ba;
}

.navbar-toggle {
  padding: 14px 7px !important;
  font-size: 20px !important;
}

.top-area {
  background-color: #212c36;
  list-style: none;
  height: 29px;
}
.top-area div a {
  font-size: 10px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  background: transparent;
}
.top-area div a:hover, .top-area div a:active, .top-area div a:focus {
  color: #ffe3ba;
  text-decoration: none;
  outline: 0;
}
.top-area .dropdown-menu {
  border-radius: 0;
  margin-top: 2px;
  padding: 0;
}
.top-area .dropdown-menu li {
  border-bottom: 1px solid #202f40;
  border-left: 1px solid #202f40;
  border-right: 1px solid #202f40;
}
.top-area .dropdown-menu li a {
  color: #334455 !important;
  background: white;
  padding: 5px 10px;
  font-size: 10px;
  text-transform: uppercase;
  outline: 0;
  text-align: center;
}
.top-area .dropdown-menu li a:hover {
  background: #ffe3ba;
}

.navigation {
  background-color: #334455;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-brand {
  height: 70px;
}
.navbar-brand:focus {
  outline: 0;
}

.navbar-nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 14px;
  color: #fff;
}
.navbar-toggle:hover, .navbar-toggle:focus, .navbar-toggle:active {
  outline: 0;
}

footer {
  height: 83px;
  background-color: #334455;
}
footer .footer-top {
  height: 2px;
  background-color: #212c36;
}
footer .container {
  background-color: #334455;
}
footer .container .text-muted {
  color: white;
  margin: 0;
  padding: 25px;
  font-weight: 500;
}
