<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/defaultLayout">
<head lang="sk">
    <title>Detail kategórie</title>
</head>
<body>

<div class="content-section" layout:fragment="content">

    <div class="container">
        <h2 class="text-center">Detail kategórie</h2>
        <div>
            <form class="form-horizontal col-sm-offset-2 col-sm-6">
                <div class="form-group">
                    <label class="col-sm-6 control-label">Id:</label>
                    <div class="col-sm-6">
                        <p class="form-control-static" th:text="${category.id}">Id</p></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-6 control-label">Meno:</label>
                    <div class="col-sm-6">
                        <p class="form-control-static" th:text="${category.name}">Meno</p></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-6 control-label">Čas vytvorenia:</label>
                    <div class="col-sm-6">
                        <p class="form-control-static" th:text="${category.dateCreated}">Up. čas</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-6 control-label">Čas poslednej zmeny:</label>
                    <div class="col-sm-6">
                        <p class="form-control-static" th:text="${category.lastUpdated}">Zmena čas</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>