<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/adminLayout">
<head lang="sk">
    <title>Detail kategórie</title>
</head>
<body>

<div layout:fragment="content">

    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Detail kategórie</h3>
        </div>
        <div class="box-body">
            <form class="form-horizontal col-sm-offset-3 col-sm-6">
                <div class="form-group">
                    <label class="control-label">Id:</label>
                    <p class="form-control-static" th:text="${category.id}">Id</p>
                </div>

                <div class="form-group">
                    <label class="control-label">Meno:</label>
                    <p class="form-control-static" th:text="${category.name}">Meno</p>
                </div>

                <div class="form-group">
                    <label class="control-label">Popis:</label>
                    <p class="form-control-static" th:text="${category.description}">Popis</p>
                </div>

                <div class="form-group">
                    <label class="control-label">Čas vytvorenia:</label>
                    <p class="form-control-static" th:text="${category.dateCreated}">Up. čas</p>
                </div>

                <div class="form-group">
                    <label class="control-label">Čas poslednej zmeny:</label>
                    <p class="form-control-static" th:text="${category.lastUpdated}">Zmena čas</p>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
