<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/defaultLayout">
<head lang="sk">
    <title>Vytvorenie kategórie</title>
</head>
<body>

<div class="content-section" layout:fragment="content">

    <div class="container">
        <h2 class="text-center">Vytvoriť kategóriu</h2>
        <div>
            <form class="form-horizontal col-sm-offset-2 col-sm-6" th:object="${category}" th:action="@{/category/new}" method="post">
                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Zlé dáta</p>

                <input type="hidden" th:field="*{id}"/>

                <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                    <label class="col-sm-6 control-label">Meno<span class="povinna_polozka">*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" th:field="*{name}"/>
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="text-red">Zlé dáta</p>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-6 control-label"></label>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary form-control">Vytvoriť</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>







