<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/adminLayout">
<head lang="sk">
    <title>Úprava žánru</title>
</head>
<body>


<div layout:fragment="content">

    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Upraviť žáner</h3>
        </div>
        <div class="box-body">
            <form class="form-horizontal col-sm-offset-3 col-sm-6" th:object="${genre}" th:action="@{/admin/genre/edit/{id}(id=${genre.id})}" method="post">
                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Zlé dáta</p>

                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label class="control-label">Meno</label>
                    <input type="text" class="form-control" th:field="*{name}" readonly="readonly"/>
                </div>

                <div class="form-group">
                    <label class="control-label">Popis</label>
                    <textarea class="form-control" th:field="*{description}"></textarea>
                </div>

                <div class="box-footer text-center">
                    <button type="submit" class="btn btn-primary">Upraviť</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
