<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/adminLayout">
<head lang="sk">
    <title>Žánre</title>
</head>
<body>


<div layout:fragment="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Zoznam žánrov</h3>
                    <div class="box-tools">
                        <div class="input-group">
                            <a class="btn btn-sm btn-default" th:href="@{/admin/genre/new}"><i
                                    class="fa fa-plus-circle"></i> Nový žáner</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="form-group">
                            <form name="filterForm" th:action="@{/admin/genres}">

                                <div class="row">
                                    <div class="col-sm-4 col-sm-offset-4">
                                        <div class="form-search form-horizontal search-form input-group text-center">
                                            <input class="form-control" th:value="${#httpServletRequest.getParameter('name')}" type="text" name="name" placeholder="Hľadať žáner..." />

                                            <span class="input-group-btn">
                                                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><a sd:pagination-sort="id">Id</a></th>
                            <th><a sd:pagination-sort="name">Meno</a></th>

                            <th><em class="fa fa-info-circle"></em></th>
                            <th><em class="fa fa-cog"></em></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="genre : ${genres}">
                            <td th:text="${genre.id}">Id</td>
                            <td th:text="${genre.name}">Meno</td>

                            <td>
                                <a class="btn btn-default" th:href="${'/admin/genre/show/' + genre.id}"><em class="fa fa-info"></em></a>
                            </td>
                            <td>
                                <a class="btn btn-default" th:href="${'/admin/genre/edit/' + genre.id}"><em class="fa fa-pencil"></em></a>
                                <a class="btn btn-danger" th:href="${'/admin/genre/delete/' + genre.id}"><em class="fa fa-trash"></em></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="text-center" th:if="${#lists.toList(genres).isEmpty()}">
                        <h5>
                            Žiaden žáner nie je k dispozícii.
                        </h5>
                    </div>

                    <nav class="text-center">
                        <ul class="pagination" sd:pagination="full">
                            <!-- Pagination created by the Thymeleaf Spring Data dialect, this content is just for mockup -->
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>