<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Disc Galaxy</title>

    <!--/*/ <th:block th:include="fragments/header-includes :: header-includes"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header-content"></th:block> /*/-->

    <div th:if="${not #lists.isEmpty(discs)}">
        <h2>Zoznam diskov</h2>

        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Názov</th>
                <th>Popis</th>
                <th>Žáner</th>
                <th>Rok</th>
                <th>Cena</th>

                <th sec:authorize="hasAnyAuthority('USER','ADMIN')">Detail</th>
                <th sec:authorize="hasAuthority('ADMIN')">Editovať</th>
                <th sec:authorize="hasAuthority('ADMIN')">Vymazať</th>
            </tr>
            <tr th:each="disc : ${discs}">
                <td th:text="${disc.id}"><a href="/disc/${disc.id}">Id</a></td>
                <td th:text="${disc.title}">Názov</td>
                <td th:text="${disc.description}">Popis</td>
                <td ><span th:each="genre : *{disc.genres}"><span th:text="${genre.genre}">Žáner</span> </span></td>
                <td th:text="${disc.year}">Rok</td>
                <td th:text="${disc.price}">Cena</td>

                <td sec:authorize="hasAnyAuthority('USER','ADMIN')">
                    <a th:href="${'/disc/' + disc.id}">Detail</a>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="${'/disc/edit/' + disc.id}">Editovať</a>
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="${'/disc/delete/' + disc.id}">Vymazať</a>
                </td>

            </tr>
        </table>

    </div>
</div>

</body>
</html>