<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="sk">

    <title>Saturn</title>

    <!--/*/ <th:block th:include="fragments/header/header-includes :: header-includes"></th:block> /*/-->
</head>
<body>

<nav th:replace="fragments/navigation/navigation"></nav>

<div class="content-section">

    <div class="container">
        <h2>Vytvoriť/upraviť užívateľa</h2>
        <div>
            <form class="form-horizontal" th:object="${user}" th:action="@{/user}" method="post">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Meno:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{username}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Heslo:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{encryptedPassword}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Typ:</label>

                    <div class="col-sm-10">
                        <select th:field="*{roles}" class="form-control">
                            <option th:each="role : ${allRoles}"
                                    th:value="${role.id}"
                                    th:text="${role.roleName}">
                                Typ
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Čas vytvorenia:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{dateCreated}"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Čas poslednej zmeny:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{lastUpdated}"/>
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer/footer"></footer>

</body>
</html>