<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/defaultLayout">
<head lang="sk">
    <title>Úprava roly</title>
</head>
<body>

<div class="content-section" layout:fragment="content">

    <div class="container">
        <h2>Upraviť rolu</h2>
        <div>
            <form class="form-horizontal" th:object="${role}" th:action="@{/role/edit/{id}(id=${role.id})}" method="post">
                <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Zlé dáta</p>

                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Meno</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" th:field="*{name}" readonly="readonly"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Právomoci</label>
                    <div class="col-sm-3">
                        <p th:each="permission,rowStat : ${allPermissions}">
                            <input type="checkbox" th:field="*{permissions}" th:value="${permission.id}" />
                            <label th:text="${permission.name}">Permission</label>
                        </p>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary form-control">Upraviť</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>