<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/defaultLayout">
<head lang="sk">
    <title>Kontakt</title>
</head>
<body>

<div class="content-section" layout:fragment="content">
    <div class="container">
        <div class="col-lg-6 col-sm-6">
            <div class="box contact-height">
                <div class="box-header text-center">
                    <h3 class="box-title">Mapa</h3>
                </div>

                <div class="box-body table-responsive no-padding">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6">
            <div class="box contact-height">
                <div class="box-header text-center">
                    <h3 class="box-title">Kontaktujte nás</h3>
                </div>

                <div class="box-body table-responsive no-padding">
                    <form name="sentMessage" id="contactForm">
                        <div class="row control-group">
                            <div class="form-group col-xs-12">
                                <input type="text" class="form-control" placeholder="Meno"/>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12">
                                <input type="email" class="form-control" placeholder="Email"/>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12">
                                <input type="text" class="form-control" placeholder="Predmet"/>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <textarea rows="10" class="form-control" placeholder="Správa"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 contact-send-button">
                                <button type="submit" class="btn btn-primary col-xs-12">Poslať</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-lg-offset-3 col-sm-offset-3">
            <div class="box">
                <div class="box-header text-center">
                    <h3 class="box-title">Doplňujúce informácie</h3>
                </div>

                <div class="box-body table-responsive no-padding">
                    <div class="form-group">
                        <label class="control-label">Telefónne číslo:</label>
                        <p class="form-control-static text-center">+421 940 696 969</p>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Otváracie hodiny:</label>
                        <ul class="list-unstyled">
                            <li>Pondelok <span class="pull-right">9:00-20:00</span></li>
                            <li>Utorok <span class="pull-right">9:00-20:00</span></li>
                            <li>Streda <span class="pull-right">9:00-20:00</span></li>
                            <li>Štvrtok <span class="pull-right">9:00-20:00</span></li>
                            <li>Piatok <span class="pull-right">9:00-17:00</span></li>
                            <li>Sobota <span class="pull-right">Zatvorené</span></li>
                            <li>Nedeľa <span class="pull-right">Zatvorené</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/js/maps.js}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-6v6m5pgCNPvgb5_13k_Oiz7I0mIyw8k&amp;callback=googleMapInit"></script>
</th:block>

</body>
</html>

