<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="sk">

</head>
<body>

<div class="content-section" id="form-login-container" th:fragment="sign-in-form">
    <form id="form-login" class="form" th:action="@{/login}" role="form" method="post" accept-charset="UTF-8">
        <div th:if="${param.logout ne null}">
            <label>
                Úspešne ste sa odhlásili.
            </label>
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputUsername">Meno</label>
            <input name="username" type="text" class="form-control" id="inputUsername" placeholder="Meno" required='required'/>
        </div>
        <div class="form-group">
            <label class="sr-only" for="inputPassword">Heslo</label>
            <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Heslo" required='required'/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Prihlásiť sa</button>
        </div>

        <div th:if="${param.error ne null}">
            <label>Nesprávne meno alebo heslo.</label>
        </div>
    </form>

</div>

</body>
</html>